<html>
    <head>
        <title>Foos</title>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
    </head>

<body>
<div id="app">
<div class="ui clearing segment" style="width: 600px; margin: auto; margin-top: 30px;">
    <h3 class="ui right floated blue header">
        Blue Team
        <div class="sub header">{{ blue.striker == null ? '?' : blue.striker.name }} & {{ blue.defense == null ? '?' : blue.defense.name }}</div>
    </h3>
    <h3 class="ui left floated red header">
        Red Team
        <div class="sub header">{{ red.striker == null ? '?' : red.striker.name }} & {{ red.defense == null ? '?' : red.defense.name }}</div>
    </h3>
    <h3 class="ui center aligned header">
        {{ red.score }} : {{ blue.score }}
    </h3>
</div>

<div class="ui segment" style="width: 600px; margin: auto; margin-top: 10px;">
    <div class="ui center aligned grid">
        <div class="two column row">
            <div class="column" v-if="blue.striker == null" v-on:click="setPlayer('blue', 'striker')">
                <button class="ui active positive button">
                    <i class="plus icon"></i>
                    Enter
                </button>
            </div>
            <div class="center aligned column" v-else>
                <a class="ui right aligned large blue label" v-on:click="score(blue.striker)">
                    <img class="ui right spaced avatar image" src="https://semantic-ui.com/images/avatar2/small/matthew.png">
                    {{ blue.striker.name }}
                </a>
            </div>
            <div class="column" v-if="blue.defense == null" v-on:click="setPlayer('blue', 'defense')">
                <button class="ui active positive button">
                    <i class="plus icon"></i>
                    Enter
                </button>
            </div>
            <div class="center aligned column" v-else>
                <a class="ui right aligned large blue label" v-on:click="score(blue.defense)">
                    <img class="ui right spaced avatar image" src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
                    {{ blue.defense.name }}
                </a>
            </div>
        </div>
        <div class="one column row">
            <div class="column">
                <img src="table.jpg"/>
            </div>
        </div>
        <div class="two column row" >
            <div class="column" v-if="red.striker == null" v-on:click="setPlayer('red', 'striker')">
                <button class="ui active positive button">
                    <i class="plus icon"></i>
                    Enter
                </button>
            </div>
            <div class="center aligned column" v-else>
                <a class="ui right aligned large red label" v-on:click="score(red.striker)">
                    <img class="ui right spaced avatar image" src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
                    {{ red.striker.name }}
                </a>
            </div>
            <div class="column" v-if="red.defense == null" v-on:click="setPlayer('red', 'defense')">
                <button class="ui active positive button">
                    <i class="plus icon"></i>
                    Enter
                </button>
            </div>
            <div class="center aligned column" v-else>
                <a class="ui right aligned large red label" v-on:click="score(red.defense)">
                    <img class="ui right spaced avatar image" src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
                    {{ red.defense.name }}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="ui segment" style="width: 600px; margin: auto; margin-top: 10px;">
    <table class="ui very basic celled table">
        <thead>
        <tr><th>Player</th>
            <th>Event</th>
            <th>Action</th>
        </tr></thead>
        <tbody>
        <tr class="positive">
            <td>
                <h4 class="ui blue image header">
                    <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg" class="ui mini rounded image">
                    <div class="content">
                        Marci
                        <div class="sub header">Comms
                        </div>
                    </div>
                </h4></td>
            <td>
                Goal
            </td>
            <td>
                <a class="ui dropdown item">
                    Select action
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">
                            <i class="hand paper icon"></i>
                            Own this goal
                        </div>
                        <div class="item">
                            <i class="trash icon"></i>
                            Remove
                        </div>
                        <div class="item">
                            <i class="dropdown icon"></i>
                            <span class="text">Assign to...</span>
                            <div class="menu">
                                <div class="item">
                                    <img class="ui avatar image" src="https://semantic-ui.com/images/avatar2/small/matthew.png">
                                    Rudolf Serfozo
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/joe.jpg">
                                    Sandor Koncz
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="https://semantic-ui.com/images/avatar2/small/mark.png">
                                    Jozsef Sipos
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr class="positive">
            <td>
                <h4 class="ui blue image header">
                    <img src="https://semantic-ui.com/images/avatar2/small/matthew.png" class="ui mini rounded image">
                    <div class="content">
                        Rudi
                        <div class="sub header">Comms
                        </div>
                    </div>
                </h4></td>
            <td>
                Goal
            </td>
            <td>

            </td>
        </tr>
        <tr class="negative">
            <td>
                <h4 class="ui red image header">
                    <img src="https://semantic-ui.com/images/avatar/small/joe.jpg" class="ui mini rounded image">
                    <div class="content">
                        Sanyi
                        <div class="sub header">Puli
                        </div>
                    </div>
                </h4></td>
            <td>
                Own Goal
            </td>
            <td>

            </td>
        </tr>
        <tr class="positive">
            <td>
                <h4 class="ui red image header">
                    <img src="https://semantic-ui.com/images/avatar2/small/mark.png" class="ui mini rounded image">
                    <div class="content">
                        Józsi
                        <div class="sub header">Puli
                        </div>
                    </div>
                </h4></td>
            <td>
                Goal
            </td>
            <td>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
<script src="./index.js"></script>
</body>
</html>